<?xml version="1.0"?>
<appSettings>
  <!--
  default settings
  -->
  <add key="Umbraco.Core.ConfigurationStatus" value="8.0.2" />
  <add key="Umbraco.Core.ReservedUrls" value="" />
  <add key="Umbraco.Core.ReservedPaths" value="" />
  <add key="Umbraco.Core.Path" value="~/umbraco" />
  <add key="Umbraco.Core.HideTopLevelNodeFromPath" value="true" />
  <add key="Umbraco.Core.TimeOutInMinutes" value="20" />
  <add key="Umbraco.Core.DefaultUILanguage" value="en-US" />
  <add key="Umbraco.Core.UseHttps" value="false" />
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  <add key="webpages:Enabled" value="false" />
  <add key="enableSimpleMembership" value="false" />
  <add key="autoFormsAuthentication" value="false" />
  <add key="dataAnnotations:dataTypeAttribute:disableRegEx" value="false" />
  <add key="owin:appStartup" value="UmbracoDefaultOwinStartup" />
  <add key="Umbraco.ModelsBuilder.Enable" value="true" />
  <add key="Umbraco.ModelsBuilder.ModelsMode" value="AppData" />

  <!--
  custom settings
  -->
  <add key="isDev" value="true" />
  <add key="mobileRange" value="992" />
  <add key="projectsApiPath" value="/umbraco/surface/project" />
  <add key="projectsPerPage" value="15" />
  <add key="smtpHost" value="smtp.gmail.com" />
  <add key="smtpPort" value="465" />
  <add key="smtpUseSSL" value="true" />
  <add key="smtpUserName" value="ninone258600" />
  <add key="smtpPassword" value="alahakbar91" />

  <add key="auth0:Domain" value="dev-h42y7bha.auth0.com" />
  <add key="auth0:ClientId" value="D6g5BunwoaA0ChfNWX17j6MqouPXv5KW" />
  <add key="auth0:ClientSecret" value="gziPb8J2PAz_HYp2q5hs-sxEyUQwp4DQxo-4QgPbKYwemr7HYd-GpfNRI0JA54Vq" />
  <add key="auth0:RedirectUri" value="/umbraco/surface/auth0/authorize" />
</appSettings>