// fonts
$bodyFont: "Arial";
$errorFont: "HelveticaNeue-MediumExt";
// dimensions
$smDevicesWidth: 576px;
$mdDevicesWidth: 786px;
$lgDevicesWidth: 992px;
$xlDevicesWidth: 1200px;

// colors
$mainColor: #D4001E;
$backgroundColor: #ffffff;
$headerBgColor: #D4001E;
$startHeadingColor: #333333;
$startSubHeadingColor: #7D7D7D;
$startButtonColor: white;
$projectsTitleColor: #000000;
$projectsTableHeaderBackGroundColor: #BEBEBE;
$projectsTableHeaderColor: #FFFFFF;
$projectsButtonPlusIconColor: #D4001E;
$resultTitleColor: #000000;
$resultTableHeaderBackGroundColor: #BEBEBE;
$resultTableHeaderColor: #FFFFFF;
$resultTableAntalColor: #D4001E;
$resultsDescriptionTypeBackGroundColor: #F5F5F5;
$tableStripedOddColor: #f5f5f5;
$tableStripedEvenColor: #ffffff;
$linkColor: #212529;

//scales
$headerNavigationMaxWidth: 1400px;
$tableMaxWidth: 1400px;